<div>
    <form (ngSubmit)="savePuntuacion()">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="selectedPuntuacion.nombre" name="nombre" required>
      </div>
      <div>
        <label for="puntuacion">Puntuación:</label>
        <input type="number" id="puntuacion" [(ngModel)]="selectedPuntuacion.puntuacion" name="puntuacion" required>
      </div>
      <div>
        <label for="nombreJuego">Nombre del Juego:</label>
        <input type="text" id="nombreJuego" [(ngModel)]="selectedPuntuacion.nombreJuego" name="nombreJuego" required>
      </div>
      <button type="submit">Guardar</button>
    </form>
  
    <ul>
      <li *ngFor="let puntuacion of puntuaciones" (click)="selectPuntuacion(puntuacion)">
        {{ puntuacion.nombre }}: {{ puntuacion.puntuacion }} - {{ puntuacion.nombreJuego }}
      </li>
    </ul>

    <div>
        <h3>Últimas 10 Puntuaciones</h3>
        <ul>
          <li *ngFor="let puntuacion of ultimasPuntuaciones">
            {{ puntuacion.nombre }}: {{ puntuacion.puntuacion }} - {{ puntuacion.nombreJuego }}
          </li>
        </ul>
      </div>
</div>

  