body{
    background-color: #f8f8fa;
}

.error{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 500px;

}

.cuadro {
    background-color:#81818141;
    border-color: rgb(0, 0, 0);
    height: 75vh;
    font-size: 20px;
  }