<div class="container text-center cuadro">
    <div>
        <img src="assets/G.png" width="150" alt="logo">
        <span class="text-uppercase ms-1" style="font-size: 3rem; font-weight: bold; position: relative; top: 20px;">ames Quiz</span>                             
    </div>
    <h1 class="display-5 fw-bold">¡Bienvenido al Quiz de Juegos!</h1>
    <p class="col-md-8 fs-4 mx-auto">Comienza tu aventura con este quiz y demuestra tus conocimientos sobre juegos.</p>
<br><br>
    <a class="button-85" (click)="iniciarFechas()">Fechas</a>
    <a class="button-85" (click)="iniciarDesarrollador()">Desarrollador</a>
    <a class="button-85" (click)="iniciarGenero()">Genero</a>
    <a class="button-85" (click)="iniciarPortada()">Portada</a>

</div>

<div class="cuadrodos second-row-center"> 
    <a class="button-85" (click)="lista()">Lista de juegos</a>
    <a class="button-85" (click)="scrap()">Lista de próximos juegos</a>
    <a class="button-85" (click)="error()">JUEGOS GRATIS</a>
</div>
