.card {
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Sombreado para efecto 3D */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Transición suave para el hover */
  }
  
  .card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.26); /* Sombreado más intenso al pasar el mouse */
  }
  
  
  .card-body {
    padding: 2px 16px;
  }
  
  .card-title {
    color: #007bff; /* Puedes cambiar este color por el que prefieras */
  }
  
  .container {
    padding: 2rem 0rem;
  }
  
  .row {
    margin: -1rem 0;
  }
  
  .col-md-4 {
    padding: 1rem;
  }
  